* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Moderat Font */

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Bold.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Bold.woff') format('woff'),
        url('./fonts/Moderat-Extended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Light.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Light.woff') format('woff'),
        url('./fonts/Moderat-Extended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Black.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Black.woff') format('woff'),
        url('./fonts/Moderat-Extended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Medium.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Medium.woff') format('woff'),
        url('./fonts/Moderat-Extended-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Regular.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Regular.woff') format('woff'),
        url('./fonts/Moderat-Extended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moderat Extended';
    src: url('./fonts/Moderat-Extended-Thin.woff2') format('woff2'),
        url('./fonts/Moderat-Extended-Thin.woff') format('woff'),
        url('./fonts/Moderat-Extended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



/* Global Styles */

/* Colors background */

.qualia-grey{
    background-color: #EFEFEF;
}
.qualia-black{
    background-color:#2E2E2E;
}
.qualia-light{
    background-color:#FFFFFF;
}

/* Container Qualia */

.contenedor-qualia{
    padding: 40px 168px;
}
.contenedor-qualia-left{
    padding: 40px 0px 40px 168px;
}

.contenedor-qualia-absolute {
    padding: 0px 0px 0px 168px;    
}



.contenedor-qualia-blog{
    padding: 40px 0px 40px 80px;
}


/* Titulos */

h2 {
    font-size: 4em;
    padding: 0.2em 0em;
    font-family: 'Moderat Extended';
    font-style: bold;
}

h3 {
    font-size: 2.5em;
    padding: 0.2em 0em;
    font-family: 'Moderat Extended';
    font-style: bold;
}

h4 {
    font-family: 'Moderat Extended';
    font-style: bold;
}


a {
    text-decoration: none;
}

/* Buttons */

.qualia-button-mobile{
    display: none;
}
.qualia-button-primary {
    background-color: #0096A9;
    padding: 0.8em 2.5em;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    border: none;
    box-shadow: 0px 0px 14px #0096a9;
}

.btn-mobile {
    display: none !important;
}




/* Hero Productos */

.qualia-black-hero{
    background-color:#2E2E2E;
    background-image: url('./img/fondo-vector-consideration.png');
    background-size: cover; 
    height: 400px;
    background-repeat: no-repeat;
}

/* Header */

/* Nav */

nav {
    padding: 0em 4em; /*Agregado */
    background-color: white;
}

nav.navGrid {
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    align-items: center; /*Agregado */
    height: 100px; /*Agregado */
}
#nav-toggler{
    display: none;
}

#nav-links-mobile{
    display: none;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #6C6D6F;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 40px 10px; /*Agregado */
}
.nav-wrapper-button {
    display: flex;
    justify-content: flex-end;
}

ul {        
    display: flex;
    align-items: center;
    list-style: none;

}

ul li {
   /* margin-right: 20px; */ /*borrado*/

    }

ul li a {
    text-decoration: none;

}

#nav-links ul li:first-child:hover a{
    background-color:#0096aa;
    color: white;
} 

.sub-menu-wrapper {
    display: none;
}


.sub-menu-wrapper li {
        font-family: 'Roboto', sans-serif;
        color: #6C6D6F;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 2px;
       /* margin-top: 10px; */ /*Borrado*/
       /* margin-bottom: 10px; */ /*Borrado*/
        border-bottom: 1px #dee2e6 solid;
        white-space: nowrap;
        padding: 10px;
        top: 100%; /*Agregado*/
        margin-right: 0px;
    }

.sub-menu-wrapper li:hover {
        background-color: #0096aa;
        color: white;
    }
    

ul li:hover .sub-menu-wrapper,
ul li:focus .sub-menu-wrapper,
.sub-menu-wrapper:focus .sub-menu-wrapper,
.sub-menu-wrapper:hover .sub-menu-wrapper {
    display: block;
    position: absolute;
    background-color:white;
    margin-top: 40px;
    padding-top: 15px;
    /* padding-right:5px;
    padding-left:5px; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

ul li:hover .sub-menu-wrapper ul,
ul li:focus .sub-menu-wrapper ul,
.sub-menu-wrapper:focus .sub-menu-wrapper,
.sub-menu-wrapper:hover .sub-menu-wrapper {
    display: block;
    border: 1px solid #D3D3D3;

    /* margin: 10px; */
}

ul li:hover .sub-menu-wrapper ul li,
ul li:focus .sub-menu-wrapper ul li,
.sub-menu-wrapper:focus .sub-menu-wrapper,
.sub-menu-wrapper:hover .sub-menu-wrapper {
    width: 150px;
   /* padding: 10px; */
    border-bottom: 1px solid #D3D3D3;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.sub-menu-wrapper .sub-menu-icon{
    /*height: 4vh; */
    width: 2vw; 
    /*margin-bottom: -5px;*/
    margin-right: 10px;
    border: 1px solid #dee2e6;;
    border-radius: 50%;
    padding: 4px;
}



}


/* Alert */

#alert {
    display: flex;
}

.alertContent {
    display: flex;
    background-color: #0096A9;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    color: white;
}

.alertContent h5 {
    font-weight: 300;
    font-size: 1.1em;
}

#closeAlert {
    position: absolute;
    top: 24px;
    left: 90%;
    font-weight: 700;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
}

#alertContent{
    transition: height 2s ease-in-out 0.2s;
}


/* footer */

#footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

}

.footer-wrapper{
    padding-right: 80px;
}
.footer-logos {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.circle-icon {
    background:white;
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
}

.footer-columnas {
    color: gray;
    padding: 10px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
}

.footer-columnas a {
    text-decoration: none !important;
    color: gray !important;
}

.footer-columnas-title {
    margin-bottom: 52px;
    font-family: 'Roboto', sans-serif;
}

.footer-columnas p {
    font-family: 'Roboto', sans-serif !important;
}

a:focus {
        text-decoration: none;
    color: #0096A9 !important; 
}

.footer-logos a {
    color:black;
}

.footer-logos:visited {
    color: #0096A9; 
}


/* Hero Quienes Somos */

.qualia-black-quienes-somos{
    background-color:#2E2E2E;
  /*  background-image: url('./img/fondo-vector-consideration.png');
    background-size: cover; 
    background-repeat: no-repeat; */
    height: 400px;
}


.span-text-cyan {
    color: #0096A9 !important;
}


.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
}

.hero-wrapper-contenido {
    padding: 50px 0px;
}

.hero-textos-bold-wrapper {
    padding: 20px 0px;

}

.hero-title {
    color: #424242;
    font-size: 3em;

}

.hero-textos {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
} 

.hero-textos-bold {
    color: #424242;
    font-weight: 700;
    font-style: italic;
}

.hero-image-wrapper {
    padding: 10px 0px;
}

#hero-icon-scroll {
    text-align: center;
}

/* Video Section */

#video-section {
  /*  display: grid;
    grid-template-columns: 1fr 1fr; */
    align-items:center;
    background-color: white;
    padding: 30px 0px;
}

.video-wrapper-text {
    padding: 30px 0px;
}

.iframeContainer {
    padding: 40px;
}

.video-title {
    line-height: 1;
    margin-bottom: 1em;
    color: #0096A9 !important;
    padding: 1em 0em;
   /* font-size: 50px; */
}

.large {
    border-radius: 5px !important;
}

/* Tipos de Seguro Section */


.tipos-seguro-text-seguro{
    display: none;
    text-align: left;
    font-weight: 600;
    color:#6B6B6B;
}

.tipos-seguro-wrapper-title h3 {
    color:#0096A9;
    padding: 1em 0em;
     /*   font-size: 50px; */
}

.tipos-seguro-title {
    text-align: left;
    color: #AFAFAF;
    padding-bottom: 30px;
}

.tipos-seguro-headline-seguro {
    font-size: 1.6em;
    text-align: left;
    color: #AFAFAF;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    font-family: 'Moderat Extended';

}
.tipos-seguro-card p{
    padding-left: 1rem;
}

.tipos-seguro-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tipos-seguro-wrapper-img {
    text-align: right;
    transition: content;
}


.tipos-seguro-wrapper-img-productos {
    text-align: left !important;
}
.tipos-seguro-card {
    text-align: center;
    margin:10px 10px 0px 0px;
    /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    height: 150px;
}

.seguros-grid {
    text-align: center;
    align-items: center;
    /*box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;*/
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 10fr;
    border-radius: 5px;
    height: 120px;
}


.tipos-seguro-card:hover p{
    display: block !important;
}


.tipos-seguro-card:hover h4{
    color:#333333;

}
.tipos-seguro-card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 3px 3px 12px;
}

.iconos-filter {
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.iconos-filter:hover {
    filter:grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%)    
}


.tipos-seguro-card:hover .iconos-filter {
    filter:grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%)
}




/*
.tipos-seguro-card:hover img{
    content: url("./img/Iconos_hogar_color.png");
}*/


/*
.tipos-seguro-card:hover img {
    content: url("./img/seguro-salud-icon.png") !important;
}
*/



#tipos-seguro-section {
    padding: 0px 40px;
}

.img-seguros-quienes {
    height: 70px !important;
}
/*
.img-seguros-productos {
    height: 50px !important;
}
*/
/*
.tipos-seguro-card img {
    width: 100%;
}*/


/* Consideration */

.tipos-seguro-wrapper-consideration {
    display: grid;
    grid-template-columns: 1fr;
}

/* Valores Section */

#valores-section {
    /* background-color:white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em 0em;
}

.valores-wrapper-title {
    color:#0096A9;
    display: flex;
    align-items: center;
}

.valores-wrapper {
    display: flex;
    padding-bottom: 3em;
}

.valores-card-text {
    font-family: 'Roboto', sans-serif !important;
}

.valores-card-title {
    padding-top: 0.3em;
}

/* Card Valores */

.card-valores-icono-wrapper {
    width: 100px;
}

.card-valores p {
    text-align: left;
    color: gray;
    font-size: 1em;
    font-weight: 400;
}

.card-valores {
    text-align: center;
    /* padding-right: 3em; */
   /* display: flex; */
   /*  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
   /* height: 100px;
    padding: 2em 2em; */
}


.card-valores img {
    transform: scale(0.5);
}

.card-valores-icono-wrapper {
    width: 100%;
}

.card-valores h4 {
    text-align: center;
    color: #707070;
    font-size: 1.4em;
    font-weight: 600;
}

.card-valores p {
    text-align: left;
    color: gray;
    font-size: 1em;
    font-weight: 400;
}


/* Section Elegi Tu Seguro */

#seguros {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    text-align: center;
    /* background-image: url('img/fondo-vector.png');
    background-position: right 10px top 50%;
    background-repeat: no-repeat; */
    height: 300px;
    align-items: center;
}

.background-image-seguros {
    position: absolute;
    /*top: 3070px;*/
    z-index: 0;
    left: 330px;
    width: 67vw;
}

.seguros-pasos {
    z-index: 1;
    text-align: left;
    padding: 0px 40px;
    margin-right: 40px;
}

.seguros-number {
    color: white;
    font-size: 1.2em;
    padding-bottom: 1em;

}

.seguros-paragraph {
    font-weight: 700;
    color: #333333;
    font-size: 1.6em;
        width: 150px;
}

.seguros-title {
    color: #585858;
    text-align: left;
    font-size: 40px;
    line-height: 1;
    z-index: 2;
    width: 240px;
}

.accentPrimary {
    text-align: left;
}


/* Datos Cards Section */

#hitos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4em 0em;
    grid-gap:40px;
}

#hitos .hitos-card-social {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 3rem;
    text-align: center;
}

.hitos-title {
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1em;
    color: #0096A9 !important;
}

/* App */

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 4em 0em;
}

.qualia-black-qr{
    background-color:#2E2E2E;
    background-image: url('./img/mask-group-1.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

.app-wrapper {
    padding: 0 9em 0 0;
    align-items: center;
}

.app-title {
    line-height: 1.1;
    font-weight: 700;
    padding-bottom: 0.5em;
    font-size: 2.5em !important;
}

.app-text {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#B9B9B9;
    padding-top: 2em;
}

.app-caption {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    padding-top: 0.5em;
}

#app img {
   width: 40%;
}
 
.app-logo-white {
   height: 25px; 
 }

 .app-qualia-mobile {
     display: none;
 }


#app .app-image-wrapper {
    text-align: center;
}

/* Blog  Cards Section */

#blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

}

#blog .blog-card-social {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: left;

}

.blog-wrapper-title {
    text-align: center;
    padding: 1em 1em;
    color: #5F5F5F;
    font-weight: 700;
  /*  font-size: 50px; */

}

.blog-content-wrapper {
    padding: 2em;

}
.blog-image{
    width: 100%;
}
.blog-title {
    font-weight: 500;
   text-align: left;
   font-size: 1em;
}

.blog-card-text{
    font-size: 0.8em;
}
/* Form */

/*
.form-background {
    background-image: url('img/fondo-logo-01.png');
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}  */

#form {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 2em 0em;

}

.form-title {
    color: #707070;
    font-weight: 600;
}

#form .formLanding {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    line-height: 2.5;
}
.form-img-wrapper img{
    margin: 35px 0px 0px auto;
    display: block;
}
#form-options-seguros,#form-options-seguros option{
    color: #7C7B7B !important;
    background: white;

}
.formLanding label{
    color: #808080;
    font-size: 0.85rem;
    font-weight: 700;
}


.qualia-button-primary-form {
    background-color: #0096A9;
    padding: 0.85em 1.8em !important;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    border: none !important;
    margin-top: 30px;
    font-size: 15px;
    box-shadow: 0px 0px 14px #0096A9;
}

.formLanding input, select{
padding: 10px;
border: #DCDCDC 2px solid;
border-radius: 10px;
}

.formLanding textarea{
    border: lightgray 2px solid;
    border-radius: 10px;
    }

.form-wrapper-button {
    text-align: right;  
}

.form-wrapper-button input {
    cursor: pointer;
    box-shadow: inset;
}

.form-wrapper-button input:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

/* PRODUCTOS PAGINA */
/* Nuestros Productos */

#nuestrosProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* blog banner section  */
.blog-section {
    background-image: url(img/qualia-banner-producto.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 430px;
}


#blog-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #424242;
    padding: 4em 4em;
}
.blog-banner-wrapper {
    align-items: center;
}

.blog-banner-title {
    line-height: 1.1;
    font-weight: 700;
    padding-bottom: 0.5em;
    color:#5F5F5F;
    padding-right: 200px;
}

.blog-banner-text {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.blog-banner-text strong{
    color:#0096A9;
}


/* Hero Section Productos  */

.hero-title-consideration {
    color: #F2F2F2;
    font-size: 3em;

}

.hero-textos-consideration {
    margin-top: 12px;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    width: 450px;
} 


/* Section Nuestros Productos */

#nuestros-productos {
    /* background-color:white; */
    display: grid;
    grid-template-columns: 1fr;
}

.nuestros-productos-wrapper-title {
    color:#0096A9;
    display: flex;
    align-items: center;
}

.nuestros-productos-wrapper {
    display: flex;
    padding-bottom: 1em;
}

.nuestros-productos-title {
    color:#424242;
    padding: 2em 0em;
}

.nuestros-productos-title-mobile{
    display: none;
}