/*
@media (hover: none) {
    .tipos-seguro-card:hover {
        display: none;
    }
} */

@media(max-width: 1024px) {
    

    h3 {
        font-size: 2em;
    }

    /* Nav */

    .navGrid ul {
        /*display: none !important;*/
    }
    #nav .qualia-button-primary {
        width: 150px;
        text-align: center;
        padding: 0.8em 2em;
    } 

     /* Contenedor Qualia */

     .contenedor-qualia{
        padding: 10px 0px;
    }
    .contenedor-qualia-left{
        padding: 10px 0px;
    }   

    /* Video */

    #video-section {
        grid-template-columns: 1fr;
        padding: 40px;
    }

    #video-section {
        padding: 5px !important;
    }
    .video-youtube{
        width: 90vw !important;
        height: auto !important;
    }
        nav.navFlexbox {
        padding:1em 1.5em !important;
    }

    .iframe-wrapper {
        text-align: center;
    }

    /* Hero */

    .hero .hero-wrapper {
        padding: 5px;
        grid-template-columns: 1fr;
    }
    .hero-wrapper-contenido {
        text-align: center;
        padding: 20px 30px;

    }
    .hero-image-wrapper{
        display: none;
        /* display: flex;
        justify-content: center; */
    }
    .hero-image-wrapper img{
        width:100%;
    }

    /* Valores */

    #valores-section {
        padding: 0px 10px;
        grid-template-columns: 1fr;
    }
    #valores-section h3 {
        font-size: 2em;
        width: 100%;
    }
    .valores-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }

    .valores-wrapper-title {
        text-align: center;
        padding: 40px 0px;
    }
    .card-valores {
        text-align: center !important;
        margin-bottom: 4em;

     }
    .card-valores img {
        width: 100px !important;
        transform: none;
    }

    /* Seguros */

    #seguros {
        display: grid;
        grid-template-columns: 1fr;
        background-image: none !important;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contenedor-qualia-absolute {
        padding: 0px 0px 0px 0px !important;
    }

    .seguros-pasos {
        text-align: left;
        padding-bottom: 1em;
        display: flex;
        align-items: center;
    }

    .seguros-number {
        color:white;
        padding-bottom: 1.5em;
         border-radius: 50%;
        padding: 1em;
    }

    .cyan-background {
        background-color: #00C1C6;
    }

    .orange-background {
        background-color: #FCAB50;
    }

    .red-background {
        background-color: #F67359;
    }

    .tipos-seguro-headline-seguro {
        color: #5F5F5F;
        font-size: 1em; /*Agregado */


    }


    .background-image-seguros {
        display: none !important;
    }

    /* Hitos */

    #hitos {
        grid-template-columns: 1fr;
        padding: 1em;
        grid-gap: 0px;
    }

    #hitos .hitos-card-social {
        margin: 20px 40px;
    }
    /*
    #hitos .hitos-card-social {
        margin: auto;
    }

    /* App CTA */

    #app {
        grid-template-columns: 1fr;
        padding: 4em 0em;
    }

    .app-qualia-mobile {
        display: block;
        margin-right: 10px;
        height:22px;
        width:17px; 
        margin-left: 5px;
        margin-top: -2px;
    }

    .app-flex-wrapper {
        display: flex;
        padding: 20px;
    }

    .app-text {
        display: none;
    }


    .img-desktop {
        display: none;
    }

    .btn-mobile {
        display: block;
        width: 250px;
        margin: 0 auto;
        margin-top: 30px;
    }

    /* Blog */

    #blog {
        grid-template-columns: 1fr;
        padding: 1em;
    }
    #blog .blog-card-social {
        margin-bottom: 1em;
        padding: 20px 0px;
    }

    #blog-banner  {
        grid-template-columns: 1fr !important;
        text-align: center;
        padding: 0em 0em;
    }

    .blog-section {
        background-image: none;
    }

    .blog-banner-text {
        display: none;
    }

    /* Form */

    #form {
        padding:1em 0.5em !important;
        grid-template-columns: 1fr;
    }
    #form .formLanding {
        width: 70vw;
    }

    /* Footer */

    #footer {
        padding:2em 2em !important;
        grid-template-columns: 1fr;

    }
}

@media(max-width: 768px) {

    #nav-links-mobile{
        display: none;
    }
    #nav-toggler{
        display: block;
    }
    #nav-links-mobile ul{
        display: block;
        margin-bottom: 10px;
    }
    #nav-links-mobile ul li{
        padding: 2px 0px;
        text-align: center;

    }

    #nav-links ul li {
        margin-bottom: 10px;

    }

    ul li {
         margin-right: 0px !important; 
    }

    .sub-menu-wrapper li {
        font-family: 'Roboto', sans-serif;
        color: #6C6D6F;
        font-weight: 400;
        font-size: 12px;
    }

    .sub-menu-wrapper .sub-menu-icon {
        width: 10vw;
        display: none; /*Agregadp*/
    }

    .nav-link  {
        font-weight: 600 !important;
        font-size: 16px !important;
    }

    nav.navGrid {
        grid-template-columns: 1fr 2fr 1fr;
        padding:  1rem;
        align-items: center; /*Agregado */
        height: auto; /*Agregado */
    }
    nav.navGrid #nav-links{
        display: none;
        grid-row: 2;
        grid-column:2;
        margin-top: 30px;
    }
    nav.navGrid #nav-links ul{
        display: block;
        text-align: center
    }

    .valores-wrapper {
        display: grid;
        grid-template-columns: 2fr !important;
    }


    .qualia-button-mobile{
        display: block;
    }
    .qualia-logo-container{
        display:flex;
        justify-content: center;
    }
    .qualia-button-primary{
        display: none
    }

    /* Tipos de Seguro */

    .tipos-seguro-wrapper {
        grid-template-columns: 1fr;
    }
    /* App CTA */
    
    .app-wrapper {
        text-align: center;
        padding: 0 1em 0 1em;
    }
    h3.app-title{
        font-size:2em !important;
    }
    .app-image-wrapper img{ 
        margin:15px 0px 10px 0px;
    }

    .qualia-black-quienes-somos {
        height: auto !important;
    }

    .qualia-black-hero {
        background-position: center;
    }

    .hero-image-mobile {
        background-image: url('./img/hero-image-mobile.png');
    }

    .hero-textos-consideration {
        text-align: left;
        padding: 20px;
        width: auto;
    }

    .hero-title-consideration  {
        text-align: left;
        padding: 20px;
        font-size: 3em;
        line-height: 1;

    }

    /* Seguros */

    .seguros-background-mobile{
        display: block;
        width: 100%;
        height: 100%;
        /* background-image: url('./img/menu-pasos-mobile.svg'); */
        background-size: cover;
        height: 500px;
        background-repeat: no-repeat;
        z-index: 10;
    }

    .seguros-grid {
        align-items:center;
        padding: 10px 10px;
    }
    
    .seguros-title{
        padding: 4rem 0rem 2rem 0rem;;
        font-size: 2em !important;
        text-align: center!important;
        width: auto;
    }

    .seguros-pasos {
        padding: 10px 30px; 
    }

    .seguros-paragraph {
        padding-left: 25px;
        color: #585858;
    }

    
    .right {
        width: 50vw;
        margin-left: auto;
        text-align: left;    
    }
    .left {
        width: 50vw;
        margin-right: auto;
        text-align: left;    }

    #seguros {
        height: auto;
    }

    /* Blog Banner Title */

    .blog-banner-title {
        text-align: center;
        padding-right: 0px;
       /* padding: 1em; */
    }

    .contenedor-qualia-blog {
        padding: 60px 0px 60px 0px;
    }

    .blog-section {
        height: auto;
    }

    /* Video YouTube */

    .video-youtube{
        height: 250px !important;
    }
    .video-title,.blog-title,.form-title{
        text-align: center !important;
        font-size: 2em !important;
    }
    .video-wrapper-button{
        display: flex;
        justify-content: center;
    }

    /* Valores */

    #valores-section {
        grid-template-columns: 1fr;
    }

    .valores-wrapper {
        grid-template-columns: 1fr 1fr !important;
        display: block;
        padding: 0px;
    }

    .card-valores h4 {
        text-align: center;
    }

    .valores-title{
        text-align: center;
    }


    /* Form */

    .form-img-wrapper {
        display: none;
       /* margin: auto;
        padding-bottom: 30px; */
    }

    /* Footer */

    .footer-columnas-title {
    margin-bottom: 20px !important;
    }

    #footer p{
        font-size: 18px;
        line-height: 33px;
        color:#5F5F5F ;
        font-family: 'Roboto', sans-serif;
    }
    #footer{
        text-align: left;
    }
    .footer-wrapper{
        padding-right: initial !important;
        margin-bottom: 30px;
    }
    .footer-columnas{
        padding: 20px 5px 0px 0px;
    }

    #nuestros-productos {
        /* display: none !important; 
        /* background-color:white
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3em 0em;; */
    }

    .nuestros-productos-title {

        display: none;
    }
    
    .nuestros-productos-title-mobile{
        display: block !important;
        color:#424242;
        padding: 0em 0em 1em 0em;
    text-align: center;
        }
    
    .btn-mobile {
        display: block !important;
        box-shadow: 0px 0px 14px #0096a9;
    }

    #tipos-seguro-section {
        padding: 0px 20px;
    }

    .tipos-seguro-card {
        height: auto !important;
    }

    .tipos-seguro-card .iconos-filter {
        filter:grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%)    
    }


    /*.tipos-seguro-card:hover{
        display: none !important;
    }
       
    
    .tipos-seguro-card:hover p{
        display: none !important;
    }


    .tipos-seguro-card:hover h4{
        display: none !important;
    }*/
    
    

}
